<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dputera.cigalator">
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_newlauncher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_newlauncherround"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/CalmingBlueTheme">
        <activity android:name=".ui.OptionActivity"/>
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.SetUpTargetedActivity" />
        <activity android:name=".ui.SetUpRelaxedActivity" />
        <activity android:name=".ui.ChooseProgramActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1613569762802655~8618956542"/>
    </application>
</manifest>